/* --- HIDE EVERYTHING WITH THIS CLASS --- */
.startHidden { display: none }

/* -------------- BODY ADJUSTS --------------- */
body { min-height: 100vh }

.login-form {
	display: inline-block;
	width: 450px;
	max-width: 95%;
	padding: 30px 35px; 
	border: 1px solid #EEE;
}
.messages {
	width: 90%;
	margin: 0 auto;
	background-color: #e0e0e0;
	padding: 20px
}
.message {
	min-width: 65%;
	max-width: 80%;
	margin-left: 10%
}
.message:nth-child(2n+1) {margin-left: 25%}
.space{ margin-right: 20px }
input[type="radio"]{margin-left: 30px}
#tempoRestante {
 	position: fixed;
 	right: 0;
 	top: 28vh;
	padding: 5px;
	text-align: center
}
.selectTeacher {
 	width: 40%;
 	margin-left: 30%;
 	margin-bottom: 60px
 }
.selectTeacher { margin-left: 0 }
.pointer { cursor: pointer }
.big-icon { font-size: 35px !important }
.action-buttons-column { min-width: 130px }
.text-bold { font-weight: bold }
/* ------- CONTAINER ------- */
body > .container { min-height: 78vh }

/* --- SELECTED QUESTIONS COUNTER --- */
#selectedQuestionsCounter {
	top: 45vh; 
	left: 10px;
	padding-top: 0;
	font-weight: bold;
	font-size: 20px }

/* ------ LOADER SPINNER ------ */
.loaderContainer {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background-color: #fff;
}