/* -------------- BODY ADJUSTS --------------- */
body {
	min-height: 100vh
}
.login-form {
	display: inline-block;
	width: 450px;
	max-width: 95%;
	padding: 30px 35px; 
	border: 1px solid #EEE;
}
.messages {
	width: 90%;
	margin: 0 auto;
	background-color: #e0e0e0;
	padding: 20px
}
.message {
	min-width: 65%;
	max-width: 80%;
	margin-left: 10%
}
.message:nth-child(2n+1) {margin-left: 25%}
.space{margin-right: 20px}
input[type="radio"]{margin-left: 30px}
.correta{
 	background-color:#DFF0D8;
 	color:#3C763D
}
.errada{
 	background-color:#efaaa5;
 	color:#fc220f
}
#tempoRestante {
 	position: fixed;
 	right: 0;
 	top: 40vh;
	padding: 10px;
	text-align: center
}
.finishTest, .selectTeacher {
 	width: 40%;
 	margin-left: 30%;
 	margin-bottom: 60px
 }
.selectTeacher {margin-left: 0}
.pointer { cursor: pointer }

/* ------- CONTAINER ------- */
body > .container { min-height: 78vh }


/* ----------- ALERTS ---------- */
.alert { list-style: none }


/* ------ LOADER SPINNER ------ */
.loaderContainer {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background-color: #fff;
}
.loadingMessage {
    position:absolute;
    width: 180px;
    top: 55%;
    left: calc(50vw - 80px);
}    
.spinner {
  width: 40px;
  height: 40px;
  margin: 45vh auto;
  background-color: #48BA9F;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
